body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background-color: #8fbf3f
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	margin-bottom: 15px;
}
nav{
	margin-bottom: 70px;
}
a{
	color: #5598d6;
}
.navbar{
	width: 100%;
	background-color: #edecec;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 60px;
}
.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
	height: auto
}
.navbar-toggler{
	float: right;
}
.navbar-toggler-icon{
	background-color: #8fbf3f;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
.logo{
	display: block;
}

.navbar-expand-md .navbar-nav .nav-link{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-default .navbar-nav > li > a{
	font-size: 18px;
	color: #000;
	padding-left: 35px;
	padding-right: 35px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
	text-decoration: underline;
}
.navbar-nav li:last-child a{
	padding-right: 0;
}
.ct-search{
	min-height: 400px;
	background-color: #edecec;
	padding-top: 50px;
}
.ct-news{
	background-color: #edecec;
	padding-bottom: 25px;
}
.box-shadow{
	-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
}
.box{
	padding:20px;
	background: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
}
.box h3{
	font-weight: bold;
	color: #000;
	font-size: 28px
}
.news-box{
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.news-box h3{
	font-size: 28px;
	font-weight: bold;
	color: #000
}
.news-box p{
	font-size: 18px;
}
.news-box a{
	font-size: 18px;
}
.car-info{
	background-color: #f0efef;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box-overview{
	padding: 5px 15px;

}
footer{
	text-align: center;
	background-color: #77b414;
	padding-top: 50px;
	background-image: url(../img/box-shadow.png);
	background-repeat: no-repeat;
	background-position: top center;
}
footer ul{
	display: inline-block;
}
footer ul li{
	float: left;
}
footer ul li a{
	display: block;
	padding: 15px 35px;
	font-size: 18px;
	color: #fff
}
footer p{
	padding-bottom: 35px;
	font-size: 18px;
	color: #fff
}