/*!
Theme Name: mein-e-fahrzeug
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mein-e-fahrzeug
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

mein-e-fahrzeug is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background-color: #8fbf3f
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	margin-bottom: 15px;
}
nav{
	margin-bottom: 70px;
}

.news-box a{
	color: #5598d6;
}
.news-box .entry-title a{
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
.navbar{
	width: 100%;
	background-color: #edecec;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 0
}
.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
	height: auto
}
.navbar-toggler{
	float: right;
}
.navbar-toggler-icon{
	background-color: #8fbf3f;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
.logo{
	display: block;
}
.ct-box{
	background-image: url(../mein-e-fahrzeug/img/box-shadow.png);
	background-repeat: no-repeat;
	background-position: top 0px center;
	min-height: 60px;
}
.ct-map{
	background-image: url(../mein-e-fahrzeug/img/box-shadow.png);
	background-repeat: no-repeat;
	background-position: top 0px center;
	min-height: 204px;
}
.navbar-expand-md .navbar-nav .nav-link{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-default .navbar-nav > li > a{
	font-size: 18px;
	color: #000;
	padding-left: 35px;
	padding-right: 35px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a::before{
	content: '';
    position: absolute;
    left: 0;
    top: 18px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
    clear: both;
}
.navbar-default .navbar-nav > li > a:hover::before{
	border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #8fbf3f;
}
.navbar-default .navbar-nav > li > a:hover{
	text-decoration: underline;
	text-decoration-color: #8fbf3f;

}
.navbar-nav li:last-child a{
	padding-right: 0;
}
.ct-search{
	min-height: 400px;
	background-color: #edecec;
	padding-top: 30px;
}
.ct-vehicle{
	min-height: 400px;
	background-color: #edecec;
	padding-top: 30px;
}
.ct-search h2{
	font-family: 'proxima_nova_altbold';
	color: #000;
	font-size: 36px;
	margin-bottom: 0
}
.ct-search .e-auto-search form{
	background-color: #8fbf3f;
	border-radius: 4px;
	padding: 10px;
}
.ct-search .e-auto-search form h3{
	color: #fff;
	text-align: center;
	font-size: 28px;
	margin-bottom: 0
}
.ct-search .e-auto-search form a{
	color: #fff;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	display: block;
}
.ct-search .e-auto-search .input-group{
	width: 100%
}
.ct-search .e-auto-search select, 
.ct-search .e-auto-search button{
	display: block;
	border-radius: 0
}
.ct-search .e-auto-search button{
	width: 100%;
	border: 1px solid #ccc;
	text-align: right;
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.ct-search .e-auto-search button:hover{
	background-color: #286090;
	border-top: 1px solid #286090;
	border-bottom: 1px solid #286090;
	border-right: 1px solid #286090
}
.ct-search .e-auto-search .input-group-addon{
	padding: 0
}
.ct-search ul{
	padding-left: 15px;
	margin-top: 15px;
}
.ct-search ul li a{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}
.ct-news{
	background-color: #edecec;
	padding-bottom: 25px;
}
.ct-news-detail{
	background-color: #edecec;
}
.ct-map-wrapper{
	background: #edecec
}
.map-layer{
	position: relative;
}
.gm-style .gm-style-iw .map-layer{
	font-size: 16px;
}
.map-layer b > a{
	color: #337ab7;
	margin-bottom: 5px;
	text-decoration: underline;
	font-size: 16px;
}
.map-layer .form-control{
	min-width: 215px
}
.map-layer .control-panel{
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: rgba(255,255,255,0.7);
	padding: 10px;
}
.map-layer a{
	padding-right: 8px;
	display: block;
}
.map-layer h3{
	font-size: 18px;
	font-weight: bold;
}
.map-layer a i.fa{
	margin-left: 3px;
}
.map-layer .form-inline .btn{
	border-radius: 0
}
.map-layer .form-inline .form-control{
	border-radius: 0
}
.box-shadow{
	-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
}
.box{
	padding:13px 15px;
	background: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
}
.box h3{
	font-weight: bold;
	color: #000;
	font-size: 28px
}
.vehicle-detail .box h3{
	font-size: 18px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #707070
}
.vehicle-detail-box h3{
	border-bottom: none !important;
	font-size: 24px !important;
}

.vehicle-detail .box ul.vehicle-list li span{
	min-width: 155px;
	display: inline-block;
}
.news-box{
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
}

.news-box h3{
	font-size: 28px;
	font-weight: bold;
	color: #000
}
.news-box p{
	font-size: 18px;
	margin-bottom: 0
}
.news-box a{
	font-size: 18px;
}
.car-info{
	background-color: #f0efef;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table{
	margin-top: 40px;
	padding-right: 15px;
	padding-left: 15px;
}
.vehicle-detail .table{
	padding-right: 0;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0
}
.table .border-bottom{
	
}
.table .cell{
	border-bottom: 1px dotted #9e9d9d;
	padding: 0;
}
.box-overview{
	padding: 5px 15px;
}
.news-detail p{
	font-size: 18px;
	line-height: 1.5
}
.widget-area{
	margin-top: 25px;
	margin-bottom: 25px;
}
.e-auto-dropdown h2{
	margin-bottom: 15px;
}
.e-auto-dropdown h5{
	font-size: 24px;
	font-weight: bold;
	color: #000;
	margin-bottom: 15px;
}
.e-auto-dropdown .col-md-8{
	padding-right: 0
}
.e-auto-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	margin-top: 10px;
	margin-bottom: 10px;
}
.e-auto-dropdown .bootstrap-select > .dropdown-toggle{
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,236,236,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(237,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#edecec',GradientType=0 ); /* IE6-9 */
	border: 2px solid #cacaca;
	padding: 10px 12px;
	font-size: 16px;
}
.e-auto-dropdown .bootstrap-select.btn-group .dropdown-menu{
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,236,236,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(237,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#edecec',GradientType=0 ); /* IE6-9 */
}
.btn-e-auto-dropdown{
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px 12px;
	background: rgb(143,191,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(143,191,63,1) 0%, rgba(133,157,93,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(143,191,63,1) 0%,rgba(133,157,93,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(143,191,63,1) 0%,rgba(133,157,93,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbf3f', endColorstr='#859d5d',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cacaca;
	font-size: 22px;
	position: relative;
}
.btn-e-auto-dropdown i.fa{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(-50%, -50%);
}

.btn-e-auto-dropdown:hover,
.btn-e-auto-dropdown:focus,
.btn-e-auto-dropdown:active{
	border: 1px solid #cacaca;
	background: rgb(143,191,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(143,191,63,1) 0%, rgba(119,180,20,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(143,191,63,1) 0%,rgba(119,180,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(143,191,63,1) 0%,rgba(119,180,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbf3f', endColorstr='#77b414',GradientType=0 ); /* IE6-9 */
}

.vehicle-overview h1{
	font-family: 'proxima_nova_altbold';
	font-size: 36px;
	color: #000;
	margin-top: 0;
}
.vehicle-overview h3{
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 10px;
	color: #000;
}
.vehicle-overview h2{
	font-size: 24px;
	margin-bottom: 5px;
	color: #000;
}
.vehicle-overview .box{
	margin-top: 15px;
}
.vehicle-overview .box p{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.vehicle-overview .pagination {
	margin-bottom: 50px;
}
.vehicle-overview .pagination ul{
	display: inline-block;
}
.vehicle-overview .pagination li{
	float: left
}
.vehicle-overview .pagination li a{
	font-size: 24px;
	font-weight: normal;
	padding-left: 9px;
	padding-right: 9px;
	line-height: 1.1;
}
.vehicle-overview .pagination li a:hover,
.vehicle-overview .pagination li.active a{
	border: 1px solid #5598d6;
	background-color: #5598d6;
	color: #fff;
}
.vehicle-overview .filter ul li a{
	font-size: 16px;
	font-weight: normal;
}
.pagination > li.first > a{
	background-color: transparent;
	border: none;
}
.pagination > li.prev > a{
	background-color: transparent;
	border: none;
}

.pagination > li.next > a{
	background-color: transparent;
	border: none;
}

.pagination > li.last > a{
	background-color: transparent;
	border: none;
}

.pagination > li.first > a:hover{
	background-color: transparent;
	color: #5598d6;
	border: none;
}
.pagination > li.prev > a:hover{
	background-color: transparent;
	color: #5598d6;
	border: none;
}

.pagination > li.next > a:hover{
	background-color: transparent;
	color: #5598d6;
	border: none;
}

.pagination > li.last > a:hover{
	background-color: transparent;
	color: #5598d6;
	border: none;
}

.pagination > li > a, 
.pagination > li > span{
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 6px;
	border: 1px solid #333
}
.beispieltext{
	margin-bottom: 65px
}
.beispieltext h3{
	margin-bottom: 15px
}
.ct-detail{
	background-color: #edecec;
}
.comment-form {
	background-color: #f0efef;
	padding: 15px;
}
.comment-form input,
.comment-form textarea{
	border-radius: 0;
	border: 1px solid transparent;
	box-shadow: none;
}
.comment-form label{
	font-size: 18px;
	font-weight: normal;
}
.br-theme-css-stars .br-widget{
	float: right;
}
.comment-form .bar-rating{
	margin: 60px 15px 30px 15px;
	border-bottom: 1px dotted #b2b1b1;
}
.comment-reply-title{
	display: none;
}
.form-submit{
	text-align: right;
}
.form-submit input.submit{
	background: #77b414;
	color: #fff;
	border: none;
	padding: 6px 12px;
	position: relative;
	font-size: 18px;
}
.form-submit input.submit::before{
	content: '';
    position: absolute;
    left: 0;
    top: 18px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    clear: both;
}
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #636363;
  overflow: hidden;
  line-height: 0.8;
  top: -3px;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #77b414;
  line-height: 0.8;
}
.filter label{
	font-size: 18px;
}
.empty-stars{
	line-height: 0.8;
}

.empty-stars::before,
.full-stars::before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 28pt;
  letter-spacing: 3px;
}

.empty-stars::before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars::before {
  -webkit-text-stroke: 1px #77b414;
}
.detail-head{
	border-bottom: 1px solid #77b414
}
.size-label{
	font-size: 1.2rem;
}
.br-theme-css-stars .br-widget {
	display: inline-block;
	float: none
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #77b414;
  -webkit-text-stroke: 1px #77b414;
}
.br-theme-css-stars .br-widget a.br-active:after {
  color: #77b414;
  -webkit-text-stroke: 1px #77b414;
}
.br-theme-css-stars .br-widget a{
	font-size: 42px;
	margin-right: 20px
}
.br-theme-css-stars .br-widget a:after {
  color: #f0efef;
  -webkit-text-stroke: 1px #707070;
}
.e-station-detail .comment-form h3{
	color: #5598d6
}
.e-station-detail address{
	padding-left: 25px;
	font-size: 16px;
}
.header-grey{
	background-color: #ededed;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.br-theme-css-stars .br-widget{
	line-height: 0.7
}
.comment-item{
	background-color: #f0efef;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 12px;
}
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_text ul{
	background: #fff;
	padding: 0 0 0 15px;
	margin-bottom: 0
}

.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_text ul li{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #dadada 
}
.widget_recent_entries ul li:last-child,
.widget_recent_comments ul li:last-child,
.widget_text ul li:last-child{
	border-bottom: none;
}
.ct-stromtankstellen{
	background-color: #edecec
}
.e-station-detail{
	padding-top: 15px;
	padding-bottom: 30px;
}
.rating-wrapper{
	background: #fff;
	padding: 8px 5px 5px 5px;
	display: inline-block;
}
.rating-box{
	background-color: #5598d6;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
}
.rating-box .input-group{
	background-color: #fff;
	border-radius: 4px;
	padding: 6px 3px;
}
.rating-box .input-group-addon{
	background-color: #fff;
	border: none;
	font-size: 18px;
	color: #77b414;
	font-weight: bold;
	padding: 6px;
	border-left: 1px solid #bfbfbf
}
.rating-box h4{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.comment-author{
	font-size: 14px;
	margin-top: 14px;
}
.post-single h2.comment-author{
	margin: 0;
}
.e-station-detail .rating-box .ratings{
	top: 0
}
.e-station-detail .aktualisierung h3{
	font-size: 18px;
	text-align: center;
}
.e-station-detail .aktualisierung h3 i.fa{
	margin-right: 5px;
}
.e-station-detail .container{
	position: relative;
}
.e-station-detail .box-shadow ul{
	margin-bottom: 0;
	padding-left: 15px;
}
.e-station-detail .box-shadow ul.e-station-list{
	padding-left: 0
}
.breadcrumb-nav .nav{
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	bottom:15px;
	padding: 10px 25px
}
.breadcrumb-nav .nav ol{
	margin-bottom: 0
}
.breadcrumb-nav .nav ol li{
	float: left;
}
.breadcrumb-nav .nav ol li:first-child a{
	display: block;padding: 0;
}
.breadcrumb-nav .nav ol li a{
	display: block;padding: 6px 12px;
}
.breadcrumb-nav .nav ol li a i{
	display: inline-block;
}
.breadcrumb-nav .fa{
	margin-right: 10px;
}
.e-station-list li a{
	padding: 6px 0;
	display: block
}
.e-station-list-page .pagination > li > a, .pagination > li > span{
	border: none;
	margin-left: 0;
	margin-right: 0
}
.vehicle-pagination .pagination > li > a{
	color: #000
}
.vehicle-pagination .pagination > li > a.ellipsis{
	background: #edecec;
	border: none;
}
.vehicle-detail .cell-item{
	padding: 0
}
.e-station-detail p{
	margin-bottom: 0
}
.e-station-detail h1{
	font-size: 28px;
	font-family: 'proxima_nova_altbold';
	font-weight: bold;
}
.e-station-detail h3{
	font-size: 24px;
	color: #000
}
.e-station-detail h3 i{
	margin-right: 5px;
}
.e-station-detail ul.e-station-detail-list{
	margin-bottom: 0;
	padding-left: 0
}
.e-station-detail ul.e-station-detail-list li span{
	min-width: 145px;
	display: inline-block;
}
.e-station-detail .box-shadow p{
	font-size: 15px;
}
.e-station-detail .box-shadow.city-summary p{
	font-size: 16px;
}
.comment-content p{
	margin-bottom: 0;
	font-size: 16px;
	margin-top: 15px;
}
.comment-form .bar-rating{

}
.ct-city-map-wrapper .container{
	position: relative;
}
.ct-city-map-wrapper .breadcrumb-nav .nav{
	bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
}
#map,
#mapcity{
	width: 100%;
	height: 550px;
}
.widget-title{
	font-size: 18px !important;
	text-align: center;
	margin-bottom: 0 !important;
}
.widget-title i.fa{
	margin-right: 5px;
}
.widget-area .box{
	margin-top: 10px;
}
.widget{
	margin-top: 15px;
	margin-bottom: 15px;
}
.e-station-detail .btn-e-auto-dropdown{
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	width: 95%;
	border-radius: 0;
	background: #77b414
}
.e-station-detail .btn-e-auto-dropdown i.fa{
	margin-left: 15px;
}
.e-station-detail .btn-e-auto-dropdown:before{
	border: none;
}
.e-station-detail .box-shadow{
	margin-top: 5px;
	margin-bottom: 40px;
}
.e-station-detail h3{
	margin-bottom: 10px;
	margin-left: 10px
}
.news-detail{
	position: relative;
}
.news-detail .share{
	left: -46px;
	top: 15px
}
.news-detail .share ul li{
	margin-bottom: 10px;
}
.news-detail .share ul li a.tw{
	background: #03a9f4;
}
.news-detail .share ul li a.fb{
	background: #3c5a99
}
.news-detail .share ul li a{
	color: #fff;
	display: block;
	padding: 5px 10px;
}
.news-detail .entry-title{
	font-weight: bold;
}
.map-reveal{
	position: absolute;
	top: -105px;
	right: 20px;
	background: #fff;
	padding: 4px 18px;
	border: 1px solid #333;
}
.map-reveal i.fa{
	margin-right: 10px;
}
footer{
	text-align: center;
	background-color: #77b414;
	padding-top: 50px;
	background-image: url(../mein-e-fahrzeug/img/box-shadow.png);
	background-repeat: no-repeat;
	background-position: top center;
}
footer ul{
	display: inline-block;
}
footer ul > li{
	float: left;
}
footer ul > li > a::before{
	content: '';
    position: absolute;
    left: 0;
    top: 18px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    clear: both;
}
footer ul > li > a{
	display: block;
	padding: 15px 35px;
	font-size: 18px;
	color: #fff
}

footer ul > li > a > i.fa{
	margin-right: 15px
}

footer p{
	padding-bottom: 35px;
	font-size: 18px;
	color: #fff
}

.vehicle-overview .bootstrap-select.form-control:not([class*="col-"]){
	width: 100%;
}
.vehicle-overview .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%
}
.vehicle-overview .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
	left: 15px;
}
.vehicle-overview .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
	margin-left: 15px;
	margin-right: 0
}
.vehicle-overview .lazy{
	width: 100%;
	height: 155px;
}
.vehicle-detail h1{
	margin-top: 25px;
	font-weight: bold;
}
.vehicle-detail .owl-carousel{
	position: relative;
}
.vehicle-detail .owl-carousel .owl-prev{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(-50%, -50%);
}
.vehicle-detail .owl-carousel .owl-next{
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translate(-50%, -50%);
}
.vehicle-detail .owl-carousel i.fa{
	color: #636363;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
	background-color: transparent;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.easy-autocomplete{
	position: relative;
	width: 100% !important;
	display: table-cell;
}
.easy-autocomplete input{
	width: 100% !important;
}
.easy-autocomplete ul{
	padding: 0;
}
.easy-autocomplete ul {
	margin-top: 35px;
}
.social-media {
	margin-top: 5px;
	display: inline-block;
}
.social-media li{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.social-media li:first-child{
	margin-left: 0;
}
.social-media li:last-child{
	margin-right: 0;
}
.social-media li a{
	color: #b05050;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.social-media li a{
	display: block;
}
.input-group-txt{
	padding: 5px;
	background: #fff;
	border-radius: 4px;
}
.input-group-txt .input-group-addon{
	border: none;
}
.input-group-txt input{
	border-right: none;
}
.input-group-txt button{
	color: #5598d6;
	background: #fff;
	font-weight: bold;
	border: none;
}
.input-group-txt .fa-search{
	margin-right: 8px;
	color: #5598d6
}
.breadcrumb-nav .nav-vehicle{
	bottom: 0;
	padding: 4px 16px
}

.vehicle-detail-box{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	border: 1px solid #636363;
	border-radius: 4px;
	padding: 15px;
}
.vehicle-detail-box ul li{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
	border-bottom: 1px dotted #707070;
	color: #000;
}
.vehicle-detail-box ul li span{
	min-width: 145px;
	display: inline-block;
}
.vehicle-detail h3{
	color: #000
}
.vehicle-detail h3 i.fa{
	margin-right: 5px;
}
.icon-location{
	background-image: url(../mein-e-fahrzeug/img/icon-location.png);
	background-repeat: no-repeat;
	background-position: top 7px left 0;
}
.icon-globe{
	background-image: url(../mein-e-fahrzeug/img/icon-globe.png);
	background-repeat: no-repeat;
	background-position: top 7px left 0;
}
.icon-plug {
	background-image: url(../mein-e-fahrzeug/img/icon_charge.png);
	background-repeat: no-repeat;
	background-position: top 7px left 0;
}
.icon-clock {
	background-image: url(../mein-e-fahrzeug/img/icon-clock.png);
	background-repeat: no-repeat;
	background-position: top 7px left 0;
}
.icon-park {
	background-image: url(../mein-e-fahrzeug/img/icon_park.png);
	background-repeat: no-repeat;
	background-position: top 7px left 0;
}

.e-station-detail .box-info ul li {
	font-size: 16px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 
}
.e-station-detail .box-info ul li.icon-kw{
	padding-left: 0;
}
.e-station-detail .fa-external-link{
	margin-left: 5px;
}
.adsense-front{
	min-height: 600px;
	height: 600px;
}
.widget-elektroauto .widget_custom_html .widget-title{
	display: none;
}
.widget-elektroauto-top .widget_custom_html .widget-title{
	display: none;
}
.widget-elektroauto{
	margin-top: 0
}
.widget-elektroauto-top .top-banner{
	width: 80%;
	margin-left: auto;
	margin-right: auto
}
.widget-news .widget_custom_html .widget-title{
	display: none;
}
.widget-stromtankstellen-box{
	margin-top: 20px;
}
.widget-stromtankstellen-box section{
	margin: 0
}
.widget-stromtankstellen-box .widget-title{
	display: none;
}
.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 22px;
  height: 22px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  margin-right: 5px;
  line-height: 1.2;
  font-size: 15px;
  display: inline-block;
}
.form-contact input,
.form-contact input:focus,
.form-contact textarea,
.form-contact textarea:focus{
	box-shadow: none;
	border-radius: 0
}
.news-detail .entry-content img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.news-detail .entry-content ul li{
	font-size: 18px;
	line-height: 1.5
}
.news-detail .entry-content ul li a{
	font-size: 18px;
	line-height: 1.5
}
a.map-container {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    line-height: 0;
}
.map-container img
{
    max-width: 100%;
    opacity: 0;
}
.box-info{
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
	margin-bottom: 40px;
}
.box-info .box-stromtankstellen-right{
	background: #fff;
	padding: 13px 15px;
}
.box-info .box-stromtankstellen-left{
	background: #fff;
	padding: 13px 15px;
}
p.no-comments{
	margin-bottom: 0
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    	.cell-item{
    		border-bottom: 1px dotted #9e9d9d;
    	}

    	.breadcrumb-nav .nav{
    		position: static;
    	}
    	.breadcrumb-nav .nav ul li{
    		float: none;
    	}
    	.map-layer .control-panel{
    		position: static;
    	}
    	.news-detail .share{
    		position: static;
    	}
    	.news-detail .share ul li a{
    		text-align: center;
    		border-top-left-radius: 0;
    		border-bottom-left-radius: 0;
    	}
    	.btn-e-auto-dropdown{
    		font-size: 18px;
    		width: 100%;
    	}
    	.e-auto-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    		width: 100%;
    	}
    	.e-auto-item.full{
    		display: none;
    	}
    	.e-auto-item.break{
    		display: inline;
    	}
    	.news-detail .entry-content img{
    		width: 100%;
    	}

    	.box-info{
			padding: 0;
			background: #edecec;
			box-shadow: none;
		}
		.box-info .box-stromtankstellen-right{
			background: #fff;
			padding: 13px 15px;
			-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
		}
		.box-info .box-stromtankstellen-left{
			background: transparent;
			padding: 13px 15px;
		}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.map-layer .control-panel{
    		position: static;
    	}
    	.news-detail .share ul li a{
    		text-align: center;
    		border-top-left-radius: 0;
    		border-bottom-left-radius: 0;
    	}
    	.btn-e-auto-dropdown{
    		font-size: 18px;
    		width: 100%;
    	}
    	.e-auto-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    		width: 100%;
    	}
    	.e-auto-item.full{
    		display: inline;
    	}
    	.e-auto-item.break{
    		display: none;
    	}
    	.news-detail .entry-content img{
    		width: 100%;
    	}
    	.box-info{
			padding: 0;
			background: #edecec;
			box-shadow: none;
		}
		.box-info .box-stromtankstellen-right{
			background: #fff;
			padding: 13px 15px;
			-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
		}
		.box-info .box-stromtankstellen-left{
			background: transparent;
			padding: 13px 15px;
		}
    	
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.cell-item{
    		border-bottom: none
    	}
    	.breadcrumb-nav .nav{
    		position: absolute;
    	}
    	.breadcrumb-nav .nav ul li{
    		float: left;
    	}
    	.map-layer .control-panel{
    		position: absolute;
    	}
    	.news-detail .share{
    		position: absolute;
    	}
    	.news-detail .share ul li a{
    		text-align: right;
    		border-top-left-radius: 4px;
    		border-bottom-left-radius: 4px;
    	}
    	.btn-e-auto-dropdown{
    		width: 80%;
    	}
    	.e-auto-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    		width: 80%;
    	}
    	.e-auto-item.full{
    		display: inline;
    	}
    	.e-auto-item.break{
    		display: none;
    	}
    	.news-detail .entry-content img{
    		width: 100%;
    	}
    	.box-info{
			padding: 0;
			background: #fff;
			-webkit-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			-moz-box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
			box-shadow: 2px 2px 2px 1px rgba(168,167,167,1);
		}
		.box-info .box-stromtankstellen-right{
			background: #fff;
			padding: 13px 15px;
			box-shadow: none;
		}
		.box-info .box-stromtankstellen-left{
			background: #fff;
			padding: 13px 15px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.news-detail .entry-content img{
    		width: 100%;
    	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.btn-e-auto-dropdown{
    		font-size: 22px;
    		width: 80%;
    	}
    	.e-auto-dropdown .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    		width: 80%;
    	}
    	.news-detail .entry-content img{
    		width: auto;
    	}
    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }